*~
.DS_Store
.env
.svn
.cvs
*.bak
*.swp
Thumbs.db
node_modules
vendor
data

# wordpress specific
wp-content/uploads/
wp-content/blogs.dir/
wp-content/upgrade/*
wp-content/backup-db/*
wp-content/advanced-cache.php
wp-content/wp-cache-config.php
wp-content/cache/*
wp-content/cache/supercache/*

# theme and plugin files
wp-content/index.php
wp-content/themes/twenty*
wp-content/themes/index.php
wp-content/themes/**/dist
wp-content/plugins
wp-content/plugins/**/*
wp-content/mu-plugins/*
!wp-content/mu-plugins/ft-blocks

# large/disallowed file types
# a CDN should be used for these
*.hqx
*.bin
*.exe
*.dll
*.deb
*.dmg
*.iso
*.img
*.msi
*.msp
*.msm
*.mid
*.midi
*.kar
*.mp3
*.ogg
*.m4a
*.ra
*.3gpp
*.3gp
*.mp4
*.mpeg
*.mpg
*.mov
*.webm
*.flv
*.m4v
*.mng
*.asx
*.asf
*.wmv
*.avi
.idea