.ft-features-block > div {
  display: grid;
  gap: 1.5rem;
}

@supports (width: min(250px, 100%)) {
  .ft-features-block > div {
    grid-template-columns: repeat(
      var(--no-of-columns),
      minmax(min(250px, 100%), 1fr)
    );
  }
}
