.custom-logo {
  @apply max-h-8 w-auto;
}

article > *:not(.entry-content),
.entry-content > * {
  @apply mx-auto max-w-max;
}

.entry-content > .alignfull {
  margin: 2rem auto !important;
  max-width: 100% !important;
  width: 100vw;
}

.entry-content > *:not(.alignfull) {
  @apply px-4;
}

.entry-content,
.block-editor-block-list__layout {
  h1,
  h2,
  h3,
  h4,
  h5 {
    font-weight: 400;
    line-height: 1.3;
  }

  h1 {
    margin-top: 0;
    font-size: 2.488rem;
  }

  h2 {
    font-size: 2.074rem;
  }

  h3 {
    font-size: 1.728rem;
  }

  h4 {
    font-size: 1.44rem;
  }

  h5 {
    font-size: 1.2rem;
  }

  small,
  .text_small {
    font-size: 0.833rem;
  }

  p,
  ul,
  ol {
    a {
      @apply text-blue-500 underline;

      &:hover {
        @apply no-underline;
      }
    }

    @apply mb-8;
  }

  ul:not(.block-editor-block-variation-picker__variations) {
    li {
      @apply list-inside list-disc;
    }
  }

  ol {
    li {
      @apply list-inside list-decimal;
    }
  }
}
